<h2>Edit Book Detail</h2>

<%= link_to 'Back', {:action => 'list' } %>

<br>

<%= form_for @book, :url =>{:action => "update", :id =>@book} do |f| %>

<p>Title: <%= f.text_field 'title' %></p>
<p>Subject: <%= f.collection_select :author_id, Author.all, :id, :name %></p>

<br>

<%= f.submit "Save changes" %>
<% end %>