<h2>Author List</h2>

<% if @authors.blank? %>
<p>Sorry, we don't have any author right now.</p>
<% else %>
<p>The list of authors in our system:</p>

<ul id = "authors">
	<% @authors.each do |c| %>
	<li>
		<%= link_to c.name, {:action => "show", :id => c.id} -%>
		&nbsp; &nbsp;
	   	<b> <%= link_to 'Edit', {:action => "edit", :id => c.id} %></b>
	   	<b> <%= link_to "Delete", {:action => 'delete', :id => c.id} %></b>
	</li>
	<% end %>
</ul>

<% end %>

<p><%= link_to "Add new Author", {:action => 'new' }%></p>
<p id = "book_list"><%= link_to "Show Books", {:action => 'show_books' }%></p>